<header>
  <app-navbar></app-navbar>
</header>
<main>
  <div class="container mt-3">
    <div class="row">
      <div class="col-8">
        <div id="in-evidenza" class="bg-light p-4">
          <h1 class="fw-bold">In evidenza:
            <app-active-posts></app-active-posts>
          </h1>
          <a href="#">Leggi di più...</a>
        </div>
        <div id="anteprime">
          
        </div>
      </div>
      <div class="col-4">
        <div id="potrebbero-piacerti" class="bg-light p-4">
          <h5>Potrebbero piacerti:</h5>
        </div>
      </div>
    </div>
  </div>
</main>