<footer class="text-white p-3">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            <a class="nav-link" routerLink="/"><img src="../../../assets/logo4.png" /></a>
            <p>Il tuo autosalone di fiducia</p>
            <ul>
                <li>Via Tal dei Tali 25</li>
                <li>00100 Torino</li>
                <li><i class="bi bi-telephone-fill me-2"></i><i class="me-2 bi bi-buildings-fill"></i>01124567845</li>
                <li><i class="bi bi-envelope-fill me-2"></i>info@autorent.auto</li>
            </ul>
        </div>
        <div class="col">
            <nav class="navbar navbar-expand navbar-dark">
                <div class="container-fluid">
                        <ul class="d-flex justify-content-between w-100">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="/"
                                    routerLinkActive="active" >Home</a>
                            </li>
                            <li>&#124;</li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Fiat" routerLinkActive="active">Fiat</a>
                            </li>
                            <li>&#124;</li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Ford" routerLinkActive="active">Ford</a>
                            </li>
                            <li>&#124;</li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Audi" routerLinkActive="active">Audi</a>
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
        <div class="col p-5">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
    </div>
</footer>