html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    text-align: center;
}

img.logo {
    width: 150px;
}

header p {
    color: #004d4c;
    background: #fdfbf1;
    padding: 20px;
    border-top: 1px solid #ffd877;
    margin-bottom: 20px;
}

header span {
    font-weight: 700;
}

section p {
    color: #333333;
}

h1 {
    text-align: center;
    color: #333333;
}

figure {
    margin: 0px;
}

figcaption {
    color: #999999;
    text-align: center;
    margin-top: 10px;
}

.focacciaFigure video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px 10px lightgray;
}

video {
    object-fit: cover;
}

a {
    color: #107777;
}

main, footer {
    /* padding-left: 20%;
    padding-right: 20%; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.callToAction p {
    margin-bottom: 0px;
    color: #b5460f;
}

.callToAction {
    padding-left: 20px;
    border-left: 1px solid #ffd877;
}

hr {
    color: #c4f3f2;
    border-width: 0.5px;
}

/* ul {
    line-height: 35px;
} */

li {
    line-height: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
    line-height: 1em;
}