<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Personale1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root></app-root>
</body>
</html>
<!-- 
------------------------SERVIZI-----------------------

A COSA SERVONO

Si usano per due motivi principalmente:
1) Ridurre il codice da scrivere: i services contengono la logica che altrimenti dovrebbe ripetersi dentro ciascun componente. Il componente è fatto per occuparsi principalmente della parte visiva (template HTML), non della parte logica.
2) permettere la comunicazione tra componenti senza grado di parentela o semplificare la comunicazione tra componenti in generale.

COME GENERARLI

- "ng generate schematics/angular: service nomeServizio"
(se c'è bisogno di più flessibilità e controllo)

oppure

- "ng generate service nomeServizio"
(per servizi semplici)

Verrà generato un file di tipo TS all'interno del quale Angular effettua automaticamente un'iniezione del service (che è una classe) all'interno della root. Il service non viene chiamato dai component, è lui che si inietta in punti specifici dell'applicazione.

DOVE DEVONO ESSERE INIETTATI

- Se il service è iniettato nella root, tutti i componenti possono accedere ad esso.

- Se il service è iniettato solo in un componente, solo quel componente potrà accedere ad esso.

- Se il service viene inserito all'interno della proprietà "providers" del @NgModule dentro app-component.ts , è come se fosse stato iniettato nella root.

ESEMPIO DI INIEZIONE

- Supponendo che dentro il service ci sia una variabile "persone" costituita da un array di oggetti (contenenti nome, cognome, stato (online/offline) e colore)...
- ...dentro il TS del componente su cui vogliamo iniettare il servizio, passiamo come parametro al costruttore della classe un parametro con nome arbitrario "servizioTest" di tipo ServizioTestService (la classe creata automaticamente con la generazione del service) e di tipo private.
- Per testare la correttezza dell'iniezione possiamo fare un console.log all'init del componente che abbia come valore "this.servizioTest.persone"

 
-->

<!--
------------------------DIRETTIVE-----------------------

COSA SONO
Sono classi che aggiungono comportamenti agli elementi

3 CATEGORIE DI DIRETTIVE
- Built in (NgClass, NgStyle, NgModel): modoficano il comportamento
- Attribute: modificano comportamento o apparenza di un elemento
- Structural: (*ngIf, *ngFor): cambiano il DOM aggiungendo o rimuovendo elementi.

COME SI CREANO LE DIRETTIVE "ATTRIBUTE" CUSTOM
Tramite CLI, con il comando:
"ng g @schematics/angular:directive nomeDirettiva"

COME SI USANO LE DIRETTIVE "ATTRIBUTE" CUSTOM
- TS direttiva: dopo aver importato "ElementRef". nel costruttore della classe bisogna passare come parametro l'elemento target della direttiva, di tipo "ElementRef".
Es. se la direttiva appHilghlight è applicata ad un p del componente "prova", this.target rappresenterà il p del componente "prova".
- HTML component: bisognerà dare la direttiva come attributo all'elemento target, usando il selector indicato nella direttiva (es. "appDirettivaTest").

In questo esempio, tramite una direttiva attribute di tipo custom abbiamo cambiato il colore del p del componente "prova" da default a rosso.

-->

<!--
------------------------PIPES-----------------------

COSA SONO
Sono funzioni che possiamo utilizzare nelle espressioni di stringa (es. interpolazione di stringa). Si potrebbe usare per esempio per: - rendere un testo maiuscolo (ma si può fare anche in css)
- per impostare una currency tipo € (css non può farlo)
- per impostare un testo in una lingua (es. ita) o in un'altra (es. eng).
- per formattare una data con un formato facilmente leggibile da umani

ESEMPIO DI PIPE
{{ servizioTest.persone[1].nome | uppercase}}
uppercase trasformerà il nome in maiuscolo.

PIPES BUILT IN
AsyncPipe
DecimalPipe
JsonPipe
PercentPipe
UpperCasePipe
CurrencyPipe
I18nPluralPipe
KeyValuePipe
SlicePipe
DatePipe
I18nSelectPipe
LowerCasePipe
TitleCasePipe

COME CREARE PIPES CUSTOM
Tramite CLI:
"ng g @schematics/angular:pipe pipeEsempio"

COME IMPORTARE LE CUSTOM PIPES NELL'APP
- Assicurarsi che sia inserirla nell'array di dipendenza in @NgModule
- Nella funzione "transform" del TS del pipe, definire il cambiamento desiderato, es:
"return value.slice(0,10) + "...";"
- Inserirla nell'html per l'elemento target, es:
"servizioTest.persone[0].color | tagliaTesto)"

-->