<h2 class="mt-3">Todo organizzati per autori</h2>
<div *ngFor="let user of users" class="mt-3">
    <h4>{{ user.firstName }} {{ user.lastName }}</h4>
    <div *ngIf="getUserTodos(user.id).length > 0">
      <ul class="ms-0 ps-0">
        <li *ngFor="let todo of getUserTodos(user.id)" class="ms-0 ps-0 py-1">
          <span [ngClass]="{'completed': todo.completed, 'notcompleted' : !todo.completed}" class="p-2">
            {{ todo.todo }}
          </span>
        </li>
      </ul>
    </div>
</div>
