:hover.card.my-3{
    scale: 1.05;
    }
    .card.my-3{
        transition: 0.5s; 
    }
    *{
        font-family: "Quicksand", sans-serif;
    }
    .detailBtn{
background-color:#7338d7 ;
    }

    .editBtn{
background-color: #58C48F;
    }