body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.white-background {
    background: white;
}

header li {
    list-style-type: none;
}

header ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    background: #ffc017;
    padding: 10px 150px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 0.5s;
}

header a {
    color: black;
    text-transform: capitalize;
}

header ul a:nth-child(5) {
    padding: 10px 20px;
    transition: 0.5s;
}



header ul a:nth-child(5), #hero a {
    color: white;
    background: black;
    border-radius: 20px;
}

main {
    padding: 40px 150px;
    
}


h1 {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-size: 5em;
    letter-spacing: -4px;
    margin: 0;
}

#hero a {
    padding: 10px 45px;
}



#hero {
    background: #ffc017;
    display: flex;
    padding: 0px 0px 0px 150px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#hero p {
    margin-bottom: 40px;
    font-size: 1.3em;
    max-width: 350px;
    
}

.trending-section-intro-row img, .trending-info-first-row img {
    vertical-align: middle;
}

.trending-info-first-row {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

.trending-info-first-row img {
   width: 25px;
}

.trending-number p {
    font-size: 2em;
    font-weight: 900;
    color: #e7e6e4;
    margin: 0px 20px 0px 0px;
    top: -6px;
    position: relative;
}

.trending-author {
    margin-left: 7px;
}

.trending-author, .trending-title {
    text-transform: capitalize;
}

.trending-title {
    font-size: 1.1em;
}

.trendings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.trending-container {
    display: flex;
    width: 33%;
}


.trending-container img {
    border-radius: 50%;
}

.trending-section-title {
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 700;
}

.trending-section-intro-row img {
    margin-right: 7px;
}

.trending-section-intro-row {
    margin-bottom: 20px;
}

.trending-details, .feed-info-last-row a, .feed-into-main p {
    color: gray;
}

.feed-container {
    display: flex;
    
}

.feed-container strong {
    font-size: 1.5em;
  text-transform: capitalize;
}

.feed-info-first-row {
    text-transform: capitalize;
}
.feed-info-first-row span {
margin-left: 3px;
}
.feed-info-first-row img {
    width: 25px;
    border-radius: 50%;
 }

 .feed-info-first-row img, .feed-info-first-row span {
    vertical-align: middle;
 }

 .feed-info-last-row a {
    background: #e7e6e4;
    padding: 5px 10px;
    border-radius: 15px;
 }

 .feed-into-main p {
    font-size: 1.1em;
 }


 .feed-info-details span {
    color: gray;
 }

 .feed-info-details span,  .feed-info-details a,  .feed-info-details img {
    vertical-align: middle;
 }
 

 .feed-info-details a {
    margin-left: 5px;
    text-transform: capitalize;
 }
 .feed-info-details img {
    margin-left: 7px;
 }

 .feed-info-details {
    position: relative;
 }

 .bookmark {
    position: absolute;
    bottom: 0;
    right: 0;
 }

 .feed-info-first-row {
    margin-bottom: 10px;
 }

 #trending-on-medium {
    padding-bottom: 40px;
 }
 
 hr {
    width: 100vw;
    left: 0;
    position: absolute;
    border: 0.5px solid #e7e6e4;
    margin-top: 40px;
 }

 #home-feed {
    display: flex;
    flex-direction: column;
    gap: 70px;
    min-width: 60%;
 }
 .feed-container > img:nth-child(2) {
    margin-left: 30px;
 }
 #home-feed-and-aside {
    display: flex;
    padding-top: 70px;
    position: relative;
 }

 .feed-image {
    display: flex;
    align-items: flex-end;
 }

 .feed-image img {
    width: 223px;;
    vertical-align:middle;
    margin-left: 30px;
 }

 aside {
    padding-left: 70px;
    position: sticky;
    top: 100px;
    padding-top: 50px;
    align-self: flex-start;
 }

 aside ul li {
list-style-type: none;
text-transform: capitalize;
 }

 aside ul {
    display: flex;
  flex-wrap: wrap;
  padding: 0;
 }

 aside a {
    color: grey;
    
 }

 .aside-main-discovers a {
    padding: 5px 10px;
    border: 1px solid grey;
    margin-right: 5px;
    margin-top: 5px;
 }

 .aside-main-tags {
    gap: 10px;
    position: relative;
    top: 10px;
 }

 .green-background {
    background: green !important;
}

@media screen and (max-width: 767px) {
    #hero {
        padding: 60px 0px 80px 20px;
    }

    header a:nth-child(1), header a:nth-child(2), header a:nth-child(3) {
        display: none;
    }

    header{
        padding: 10px;
    }

    svg {
        display: none;
    }
    main {
        padding: 40px 20px;
    }
    .trendings-container {
        display: block;
    }
    .trending-container {
        width: 100%;
        margin-bottom: 20px;
    }

    #home-feed-and-aside {
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }

    .feed-image img {
        max-width: 200px;
    }

    #home-feed {
        order: 1;
    }

    aside {
        position: relative;
        order: 0;
        padding: 0px 0px 40px 0px;
        top: 0;
        margin-top: 55px;
    }
    
}

@media screen and (min-width: 768px) and (max-width:1023px) {

    .hero-main {
        flex-grow: 2;
        min-width: 400px;
    }

    .svg-container {
        flex-shrink: 2;
    }
    .trending-container {
   width: 33%;
   margin-bottom: 20px;
 }

 #hero {
    padding: 30px 0px 30px 30px;
 }
 header {
    padding: 10px 30px;
 }

 aside {
    position: relative;
    order: 0;
    padding: 0px 0px 40px 0px;
    top: 0;
    margin-top: 55px;
}
.aside-main-tags {
    gap: 15px;
}

main {
    padding: 30px;
}
#home-feed {
    order: 1;
}
#home-feed-and-aside {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}
}