header .d-flex img, .navbar-brand img {
    width: 40px;
}

#hero {
    background: #7153FA;
}

#hero i {
    color: #8f4d07;
    /* background: #c9b6a1; */
    padding: 10px;
}



#hero .icon-container {
    background: #e6dacc;
    /* display: inline-block; */
    height: 50px;
    width: 50px;
}

#hero > .row, #recommended {
    padding: 5% 10%;
}

.author img {
    width: 50px;
    height: auto;
}

