body, html {
    font-size: 1rem;
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    color: white;
    font-family: 'Outfit', sans-serif;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

header {
    padding-top: 3em;
}

header img {
    width: 15%;
}

/* GENERAL */

h1, .welcome-text p, li, .form-checkbox label, #correct-space p:first-child, #wrong-space p:first-child, #total-correct, #total-wrong, #feedback-title p, #feedback > p {
    font-weight: 300;
}

h1 span, li span, #current-question, #percentage-correct, #percentage-wrong, .rate-button p {
    font-weight: 700;
}

.welcome-text h4, .timer p, .title p, #textResult {
    font-size: 2em;
}

.welcome-text h4, #error-message, #error-message-p4 {
    color: #C2128D;
}

.welcome-text h4, .answer-option label, #correct-space p:first-child, #wrong-space p:first-child, #feedback-title h2, #error-message-p4 {
    margin-bottom: 0;
}

.welcome-form, .proceed, .answer-option, #correct-space, #result-message-graph, #wrong-space {
    display: inline-block;
}

#error-message, .answer-option input[type="radio"], #textComment, #error-message-p4 {
    display: none;
}

#proceed-link, #rateUs, #moreInfo {
    text-decoration: none;
}

.proceed, .correct-answers, #more-info-div {
    background-color: #00FFFF;
}

.proceed, #page2-main, #page2-form, .answer-option label, #page3-main, #p4-main  {
    text-align: center;
}

.proceed, #next-button, #more-info-div {
    padding: 1em 3em;
}

.proceed, #more-info-div {
    box-shadow: 0 0px 16px 0 #00FFFF, 0 0px 20px 0 #00FFFF;
}

.proceed p, #next-button, #current-question, .rate-button p, #more-info-div p {
    text-transform: uppercase;
}

.proceed p, #textComment, #current-question {
    font-size: 1.3em
}

.proceed p, #more-info-div p {
    font-weight: 800;
} 

.proceed p, #percentage-correct, #percentage-wrong, #total-correct, #total-wrong, #more-info-div p  {
    margin: 0;
}

.timer-div, #page2-form, .quiz-space, .results-bar, #textComment, .rate-button, #feedback-title, #feedback-input-div, #more-info-div  {
    margin: 0 auto;
}

.progress-bar, .results-bar {
    border-radius: 20px
}

#question-txt, #correct-space p:first-child, #wrong-space p:first-child, #feedback-title h2 {
    font-size: 3em;
}

.timer-div, #correct-space, #wrong-space {
    width: 20%;
}

.answer-option label, #percentage-correct, #percentage-wrong, #textResult span {
    display: block;
}

.answer-option label, .answer-option input:checked + label, #next-button, .rate-button p, #feedback-txt {
    color: white;
}

.answer-option label, #total-correct, #total-wrong, #feedback-txt, #error-message-p4, #more-info-div p {
    font-size: 1.2em;
}

#feedback-txt, #next-button {
    background-color: transparent;
} 

/* PAGINA 1 */

h1 {
    margin-top: 1em;
    width: 30%;
    font-size: 5em;
    line-height: 0.7em;
}

.welcome-text {
    margin-bottom: 3em;
}

.welcome-text h4 {
    font-weight: 500;
}

.welcome-text p {
    margin-top: 10px;
    width: 35%;
}

.welcome-list {
    margin-bottom: 5em;
}

.welcome-list ul {
    padding-left: 1em;
}

.welcome-form {
    margin-right: 25%;
}

#proceed-link {
    color: rgb(28, 28, 28);
}

/* PAGE 2 - BENCHMARK QUIZ */

.progress-bar {
    height: 2vh;
    background-color: #C2128D;
}

.quiz-space {
    width: 60%;
}

.answer-option {
    width: 50%
}

.answer-option label, #next-button {
    cursor: pointer;
}

.answer-option label, .answer-option input:checked + label

.answer-option label {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1rem; 
    padding: 1.3rem 0.1rem;
    border: 2px solid transparent; 
    border-radius: 30px;
    border: 4px solid rgba(255, 255, 255, 0.732);

}

.answer-option label:hover{
    background-color: rgba(255, 255, 255, 0.206);
}

.answer-option input:checked + label {
    background-color: #B40088; 
}

.rate-button, #next-button {
    border: solid 2px white;
}

#next-button {
    font-weight: 900;
    border-radius: 7px;
}

#next-button:hover {
    background-color: rgba(255, 255, 255, 0.124);
}

#current-question, #next-button {
    margin-top: 4em;
}

#purple-txt {
    color: #B40088;
}

/* PAGE 3 */

.title h2 {
    font-size: 3.5em;
    margin: 0.5em 0 0 0;
}

.title p {
    font-weight: 200;
    margin-top: 0;
}

#result-message-graph{
    width: 40%;
}

#correct-space{
    text-align: left;
}

#wrong-space{
    text-align: right;
    color: rgba(255, 255, 255, 0.745);
}

.results-bar {
    display: flex;
    margin-top: 3em;
    width: 80%;
    height: 2em;
    background-color: #eeeeee00;
    overflow: hidden;
  }
  
.correct-answers {
    height: 100%;
}
  
.wrong-answers {
    height: 100%;
    background-color: #C2128D;
}

#textResult span {
    color: #00FFFF;
}

#textComment {
    width: 40%;
    font-weight: 100;
}

.rate-button {
    width: 14%;
    margin-top: 5em;
}

.rate-button p {
    font-size: 1.4em;
}

.rate-button:hover {
    background: rgba(255, 255, 255, 0.124);
}

/* PAGE 4 */

#feedback-title {
    width: 43%;
}

#feedback-title p {
    font-size: 1.5em;
}

svg {
    width: 5%;
    height: 15vh;
}

#feedback > p {
    font-size: 1.8em;
    margin-bottom: 2em;
}

#feedback-input-div {
    width: 53%;
    border-bottom: solid 2px #C2128D;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
}

#feedback-txt {
    border: none;
    width: 90%;
}

#feedback-txt {
    outline: none;
}

#error-message-p4 {
    margin-top: 5px;
}

#moreInfo {
    color: #0A1C44;
}

#more-info-div {
    width: 10%;
    margin-top: 3em;
}