html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    padding: 30px;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
}

h2, blockquote p {
    font-size: 1em;
}

address {
    font-style: normal;
}


body {
    color: #393d41;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.2rem;
    font-weight: 300;
}

#corsoWeb a, h1 {
    font-weight: 600;
}

#corsoWeb a {
    background: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid transparent;
}

#corsoWeb a:hover {
    background: #c93116;
    transition: 0.3s;
    border: 1px solid white;
}


section {
    padding: 50px 25px 0px 25px;
}

section p {
    margin: 10px 0px 25px 0px;
}

#corsoWeb {
    background: url(../img/banner.jpg) no-repeat center center / cover;
    padding: 80px 20px;
}

.desktop {
    max-width: 600px;
}

.desktop, .altFig {
    margin: auto;
}

.specialFlex {
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
}

.specialFlex p {
    margin-top: 0px;
    max-width: 300px;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

#corsoWeb p {
    margin: 20px 0px 40px 0px;
}

#notebook img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 30px;
}

.specialColumn {
    max-width: 33%;
}

#testimonianze {
    background: #e22d0e;
    padding: 100px 25px 50px 35px;
}

#testimonianze h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

#notebook {
    margin-bottom: 40px;
}

blockquote {
    padding-bottom: 35px;
}

blockquote, blockquote p:last-child, h1, h2 {
    margin: 0;
}

blockquote cite {
    font-style: normal;
}

blockquote p:last-child {
    font-size: 0.7em;
}

.altFig img, .altFigBack {
    width: 100%;
}

.altFig {
    border: 1px solid #dee1e3;
    max-width: 30%;
    margin-bottom: 30px;
}

.altFigChild {
    padding: 20px 20px 10px 20px;
}

.altFig p {
    margin-bottom: 15px;
}

#altFigBack1 {
    background: url(../img/foto1.jpg) no-repeat center center / cover;
}

#altFigBack2 {
    background: url(../img/foto2.jpg) no-repeat center center / cover;
}

#altFigBack3 {
    background: url(../img/foto3.jpg) no-repeat center center / cover;
}

.altFigBack {
    height: 230px;
}


.altFig h2 {
    font-size: 1.1em;
}

.altFig:hover {
    background: #ededed;
    border: 1px solid #878787;
    transition: 0.3s;
}

blockquote cite, footer {
    font-weight: 400;
}

footer {
    background: #25a2c3;
    color: #c8e7f0;
    padding: 45px 0px;
}

footer p {
    font-size: 0.8em;
}

footer, footer ul {
    font-size: 0.9em;
}

footer i {
    margin-right: 5px;
}

footer i, footer h2, #corsoWeb a, #testimonianze, #testimonianze h2 {
    color: white;
}

footer h2, h1, #testimonianze h2 {
    line-height: 1;
}

footer h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding: 0px;
}

footer a {
    color: #c8e7f0;
}

footer a, #corsoWeb a, .altFig {
    transition: 0.3s;
}

hr {
    width: 25%;
    border: 0.3px solid white;
    margin: 30px auto;
}

main {
    margin-bottom: 70px;
}

#schede, .specialFlex {
    display: flex;
}

#schede {
    padding: 90px 25px 0px 25px;
}

footer a:hover {
    color: white;
    transition: 0.3s;
}