html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: black;
    padding: 30px;
}

h1 {
    font-size: 2em;
}

h1, footer h2, #testimonianze h2 {
    line-height: 1;
}

h1, #corsoWeb a {
    font-weight: 600;
}

h1, h2 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
}

blockquote, blockquote p:last-child, h1, h2 {
    margin: 0;
}

/*Per evitare "da capo" brutti nella versione mobile*/
.content {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1em;
}

body {
    color: #393d41;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.2rem;
    font-weight: 300;
}

#corsoWeb a {
    background: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 14px;
}

section {
    padding: 50px 25px 0px 25px;
}

section p {
    margin: 10px 0px 25px 0px;
}

#corsoWeb {
    padding: 50px 20px 45px 20px;
    background: url(../img/banner.jpg) no-repeat center center / cover;
}

#corsoWeb p {
    margin: 20px 0px 40px 0px;
}

#notebook img {
    max-width: 75%;
    border-radius: 50%;
    margin-bottom: 30px;
}

#testimonianze {
    background: #e22d0e;
    color: white;
    padding: 60px 25px 0px 35px;
}

#testimonianze h2 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
}



#notebook {
    margin-bottom: 60px;
}



blockquote {
    padding-bottom: 35px;
}

blockquote cite {
    font-style: normal;
}

blockquote cite, footer {
    font-weight: 400;
}

blockquote p:last-child {
    font-size: 0.7em;
}

figure img {
    max-width: 100%;
}

figure {
    margin: 0px 0px 30px 0px;
    border: 1px solid #dee1e3;
}

figcaption {
    padding: 10px 20px 20px 20px;
}

figcaption p {
    margin-bottom: 15px;
}

figcaption h2, footer p, figcaption p, blockquote p {
    font-size: 0.8em;
}

footer {
    background: #25a2c3;
    color: #c8e7f0;
    padding: 45px 0px 45px 0px;
    font-size: 0.9em;
}

footer ul {
    font-size: 0.9em;
}

footer i {
    color: white;
    margin-right: 5px;
}

footer h2 {
    color: white;
    font-size: 1.7em;
    margin-bottom: 20px;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding: 0px;
}

footer a {
    color: #c8e7f0;
}

hr {
    width: 50%;
    border: 0.3px solid white;
    margin: 30px auto;
}

main {
    margin-bottom: 70px;
}