.carousel-item-container img {
    transition: transform 0.3s ease-in-out;
}

.carousel-item-container:hover img {
    transform: scale(1.1);
}


#header-logo {
    width: 150px;
    position: relative;
    left: -12px;
}

body {
    background: black;
}


#genres, #english {
    filter: invert(1);
}

@media screen and (max-width: 575px) {
    #genres {
        padding: 7px 36px 7px 10px;
    }

    .tvshows-icons {
        padding: 4px 10px;
    }

    #cancelmembership {
        width: 50%;
        padding: 1em;
    }
}

@media screen and (min-width: 576px) {

    #epicoder-list {
        max-height: 50%;
    }

    #cancelmembership {
        width: 80%;
        padding: 10%;
    }

    #genres {
        padding: 13px 36px 13px 10px;
    }

    .tvshows-icons {
        padding: 10px;
    }
}

@media screen and (max-width: 991px) {
    #paypal {
        width: 70px;
    }
}

@media screen and (min-width: 992px) {
    #paypal {
        width: 100px;
    }
}

.carousel-item img {
    object-fit: cover;
}

.account-lis li, footer li, .account-content li {
    list-style-type: none;
}

.footer-lists li {
    margin-bottom: 20px;
}

header .dropdown-menu {
    background: black;
    left: auto !important;
    right: 0;

}

header .dropdown-menu a {
    color: rgba(255, 255, 255, .55) !important;
}

header .dropdown-menu a:hover {
    color: black !important;
}

.dropdown-item:active {
    background: white !important;
}

.tvshows-icons {
    max-width: 50px;
}

#cancelmembership {
    background: rgb(237, 237, 237);
    background: linear-gradient(180deg, rgba(237, 237, 237, 1) 0%, rgba(194, 194, 194, 1) 100%);
}

.account-content li {
    margin-bottom: 15px;
}

.intestazioni-account, .intestazioni-account-nephews {
    color: gray;
}

.last-list li {
    line-height: 10px;
}